<div id="game">
  <h1>Tic Tac Toe - Game room</h1>

  <div *ngIf="signed">

    <mat-card *ngFor="let c of challenges" class="player-list">
      <mat-chip-list>
        <mat-chip color="warn" selected>{{ getNameById(c.user_one) }}</mat-chip> vs
        <mat-chip color="primary" selected>{{ myUsername }} </mat-chip>
        <button mat-mini-fab (click)="acceptChallange(c.id)" ><mat-icon>done</mat-icon></button>
      </mat-chip-list>
    </mat-card>

  </div>

  <br><br>

  <div *ngIf="signed">
    <h2>Player list</h2>

    <mat-card *ngFor="let user of users" class="player-list">
      <h4>
        {{user.user}}
<!--<<<<<<< HEAD-->
        <button mat-icon-button color="warn" (click)="challengePlayer(user.id)">
<!--=======-->
        <!--<button mat-icon-button color="accent" routerLink="/game/play/{{user.id}}">-->
<!--&gt;>>>>>> afd3c717994eabcb37b7e0762f247ebbc381bb37-->
          <mat-icon aria-label="Challenge player">play_circle_outline</mat-icon>
        </button>
      </h4>
    </mat-card>
  </div>

  <div *ngIf="!signed">
    <h2>
      Sorry, you must be <a routerLink="/access">logged</a> on our site to play the game!
    </h2>
  </div>

</div>

