<div id="game">
  <h1>Tic Tac Toe - Game room</h1>

  <h2>Player list</h2>

  <mat-card class="player-list">
    <h4>
      Bokunda
      <button mat-icon-button color="warn" routerLink="/game/play/1">
        <mat-icon aria-label="Challenge player">play_circle_outline</mat-icon>
      </button>
    </h4>
  </mat-card>

  <mat-card class="player-list">
    <h4>
      Bokunda
      <button mat-icon-button color="warn" routerLink="/game/play/1">
        <mat-icon aria-label="Challenge player">play_circle_outline</mat-icon>
      </button>
    </h4>
  </mat-card>

  <mat-card class="player-list">
    <h4>
      Bokunda
      <button mat-icon-button color="warn" routerLink="/game/play/1">
        <mat-icon aria-label="Challenge player">play_circle_outline</mat-icon>
      </button>
    </h4>
  </mat-card>

  <mat-card class="player-list">
    <h4>
      Bokunda
      <button mat-icon-button color="warn" routerLink="/game/play/1">
        <mat-icon aria-label="Challenge player">play_circle_outline</mat-icon>
      </button>
    </h4>
  </mat-card>

</div>

