<mat-card class="about">
    <mat-card-title><h1>About Us: </h1></mat-card-title>
    <mat-card-content>
        We are young and enthusiastic developers.
    </mat-card-content>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
          " You might not think that programmers are artists,
          but programming is an extremely creative profession.
          It is logic-based creativity..! "
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="responsive-img" src="assets/images/bokundabw.jpg">
        </mat-grid-tile>
        <mat-grid-tile>
          <img class="responsive-img" src="assets/images/labanbw.jpg">
        </mat-grid-tile>
        <mat-grid-tile style="margin: 2% !important;">
          " Real rogrammers do not 
          comment theid codes..! 
          Because IF it was hard to write it 
          must be hard to read..! 
          "
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
      
  
  

</mat-card>

