<div id="info" class="centered">
  <h2>Info</h2>
  <p>Idea for this project is to make posible to play Tic Tac Toe game online with other people. After you <a routerLink="/access">sign in</a> you can chose your opponent.</p>
</div>

<div id="game" class="centered centered-text">

  <button mat-raised-button color="warn" routerLink="/game"><h1>GAME ROOM</h1></button>

</div>

<div id="poweredBy" class="centered">
  <h2>Powered By:</h2>
  <img class="responsive-img" src="assets/images/quantox-logo.png">
</div>
