<div id="wrapper">

  <div id="gameDiv">
    <h2 id="players">{{playerONE}} vs {{playerTWO}}</h2>

    <h3>Move: {{plays}}</h3>

    <div id="game">

      <mat-grid-list class="board" cols="3" rowHeight="1:1">

        <mat-grid-tile *ngFor="let f of fields; let i = index" (click)="makeMove(i)">
            <div *ngIf="f == ' '">
                <img src="/assets/images/blanko.png" height="70%" width="70%">
            </div>
            <div *ngIf="f != ' '">
                <img src="/assets/images/{{f}}.png" height="70%" width="70%">
            </div>
        </mat-grid-tile>

      </mat-grid-list>
    </div>
    <div class="button-row centered centered-text">
        <button mat-raised-button color="accent" (click)="playAgain()">Play Again</button>
    </div>

  </div>

</div>
