.board {
    background-image: url("/assets/images/boarddashes.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#game {
    max-width: 40% !important;
    min-width: 210px;
    margin: 0 auto;
    margin-top: 64px;
    background-color: #3f51b5;
    color: #fff;
}
.mat-grid-tile {
    margin-left: 5%;
}