@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Merienda:700');

.mat-tab-label
{
  min-width: 50% !important;
}

.centered
{
  width: 36%;
  display: table;
  margin: 0 auto;
  margin-top: 64px;
}

.centered-text
{
  text-align: center;
}

.responsive-img
{
  width: 100%;
  height: auto;
}

.form-access-input
{
  width: 100%;
  margin-top: 10px;
}

.form-access-button
{
  width: 100%;
  margin-top: 10px;
}
.globalBackgound{
  background-color: #6300ee6b;
  background-image: -webkit-linear-gradient(150deg, #d81b60 35%, #fff 35%);
  min-height: 100%;
}
.mat-raised-button {
  color:#d81b60;
}
